html {
    color: #ffffff;
}

.bienvenidos {
    background: url("../images/fondo-bienvenidos.jpg");
    background-size: cover;
    height: 100vh;
    /*nueva medida basada en el viewport height medida de la pantalla*/
}

.navbar-fixed-top {
    background: rgba(0, 0, 0, 0.28);
}

.navbar-light .navbar-brand {
    color: #f8f9fa;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler-icon {
    display: inline-block;
    width: 4em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 250, 250, 0.9);
    text-align: center;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
    background: #17a2b8;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
    margin: 0.4rem 0;
}

.mensaje {
    margin-top: 8rem;
    color: #ffffff;
}

.btn-primary {
    color: #fff;
    background-color: #087181;
    border-color: #087181;
}

.btn-primary:hover {
    color: #fff;
    background-color: #5cc9da;
    border-color: #17a2b8;
}

.profile {
    height: 200px;
    width: 200px;
}

.services .fa {
    color: #ffffff;
}

.services {
    background-color: #087181;
    color: #ffffff;
}